/* Estilos globais */
:root {
    --primary-color: #FF6347;
    --secondary-color: #4CAF50;
    --background-color: #F9F9F9;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

.catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.item {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Botões */
button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Responsividade */
@media only screen and (max-width: 768px) {
    .catalog {
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: 90%;
    }
}
